.navbarContainer {
    width: 100%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 1.5rem;
    background-color: #edf2f848;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-bottom-left-radius: 50px;
    box-shadow: 0 0 25px #e4e4e4de;

    @include desktopXL {
        padding: 1.4rem 1rem;
    }

    @include mobile {
        padding: .7rem 0.4rem;
        border-bottom-left-radius: 0px;
    }

    .logoContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;

        @include mobile {
            margin-right: 0;
        }

        .logo {
            width: 230px;
            animation: logo 7s linear 1s infinite alternate;
            transition: all 0.4s ease-in-out;

            // &:hover {
            //     scale: 1.1;
            //     translate: 10px;
            // }

            @include desktopXL {
                width: 280px;
            }

            @include mobile {
                width: 200px;

                &:hover {
                    scale: 1;
                    translate: 0px;
                }
            }
        }
    }

    .navbarLinks {
        width: 100%;
        display: flex;
        justify-content: center;

        @include tablet {
            display: none;
        }

        .navItems {
            width: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;

            @include desktop {
                gap: 10px;
                justify-content: space-evenly;
            }

            @include desktopXL {
                gap: 50px;
            }

            .active {
                color: #313bac !important;
            }

            .navLink {
                color: #6b7688;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1em;
                padding: .3rem;
                transition: all 0.3s ease-in-out;

                @include desktopXL {
                    font-size: 1.2em;
                }

                @include desktop {
                    font-size: 0.9em;
                }

                &:hover {
                    color: #313bac;
                }
            }

            .navLink:nth-child(6) {
                margin-left: 5%;
            }
        }
    }

    .userLoggedContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        min-width: max-content;
        margin-left: 1.5rem;

        @include tablet {
            margin-left: auto;
        }

        .userIcon {
            font-size: 2rem;

            @include desktopXL {
                font-size: 2.4em;
            }

            @include mobile {
                font-size: 1.6rem;
            }
        }

        .userNameLogged {
            font-size: 1.1em;
            width: max-content;


            @include desktopXL {
                font-size: 1.4em;
            }

            @include mobile {
                font-size: .9em;
            }
        }

        .logOutIcon {
            margin-left: 4px;
            font-size: .9rem;

            @include desktopXL {
                font-size: 1.1em;
            }

            @include mobile {
                font-size: .8rem;
            }
        }

        .logOutText {
            font-size: .8em;
            cursor: pointer;

            @include desktopXL {
                font-size: .9em;
            }

            @include mobile {
                font-size: .7em;
            }
        }

        .signinBtnHeader {
            font-size: 1.1em;
            color: black;

            @include desktopXL {
                font-size: 1.3em;
            }
        }
    }

    .navbarSideMenuContainer {
        @media screen and (min-width:831px) {
            display: none;
        }

        min-width: 35px;
        min-height: 35px;
        margin-left: 1rem;
        border-radius: 50%;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        background: #528265;

        .menuIcon {
            width: 70%;
            height: 70%;
            color: #ffffff;
        }

        .sideMenuContainer {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 10000;

            padding: 1rem;
            width: 150px;
            height: 350px;

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;

            background-color: #edf2f8;
            background-image: url(../Images/bgWhite.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left;

            border-bottom-left-radius: 40px;
            box-shadow: 0 0 10px #6b76887f;

            .closeIcon {
                width: 35px;
                height: 35px;
                color: #528265;
                margin: .5rem 0;
            }

            .navItemsSideMenu {
                margin: .5rem 0;
                padding: 0;
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 25px;

                .navLinkSideMenu {
                    color: #6b7688;
                    text-decoration: none;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover {
                        color: #313bac;
                    }
                }
            }
        }
    }
}

@keyframes logo {

    0%,
    100% {
        rotate: 0deg
    }

    25%,
    80% {
        rotate: -3deg
    }

    40%,
    65% {
        rotate: -6deg
    }
}